<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN" "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>Liuqin fingerprint project</vendor>
  <action id="org.liuqin.fingerprint.accept">
    <description>Run the local FPC1264 fingerprint acceptance</description>
    <message>Authenticate to run fingerprint acceptance</message>
    <defaults><allow_any>no</allow_any><allow_inactive>no</allow_inactive><allow_active>auth_admin</allow_active></defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/local/lib/liuqin-fpc-oem/acceptance.py</annotate>
  </action>
</policyconfig>
